{
  "singleQuote": true,
  "bracketSpacing": false,
  "semi": false,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "printWidth": 100,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-svelte", "prettier"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}