@tailwind base;

@layer base {
  input:focus {
    outline: none;
  }
}

@tailwind components;
@tailwind utilities;

/* Line */

@font-face {
  font-family: Line;
  font-weight: 700;
  src: local('LINESeedKR Bd'),
  url('./assets/fonts/LINESeedKR-Bd.woff2') format('woff2');
}

@font-face {
  font-family: Line;
  font-weight: 400;
  src: local('LINESeedKR Rg'),
  url('./assets/fonts/LINESeedKR-Rg.woff2') format('woff2');
}

@font-face {
  font-family: Line;
  font-weight: 100;
  src: local('LINESeedKR Th'),
  url('./assets/fonts/LINESeedKR-Th.woff2') format('woff2');
}

/* HS-Santokki */

@font-face {
  font-family: Santokki;
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
}

html, body, #app {
  height: 100%;
}